body { background-color: midnightblue;}

header {font-size: 3em; color: white; text-align: center;}

main { display: flex; flex-flow: wrap; flex-direction: column; align-content: center;}

main div { background-color: cadetblue; border-radius: 10px; margin: 10px; padding: 20px 20px; height: 70px;
            font-size: 1.3em; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: center; text-transform: uppercase;
        }

a {color: white; text-decoration: none;}

@media only screen and (max-width: 600px) {
    main {flex-direction: column;}
    header {font-size: 2em;}
    main div{width: 100%; padding-top: 30px; height: 75px;}
  }

